.br-rad-1 { border-radius: 0.5rem; }
.br-rad-2 { border-radius: 1rem; }
.br-rad-3 { border-radius: 1.5rem; }
.br-rad-4 { border-radius: 2rem; }
.br-rad-5 { border-radius: 2.5rem; }
.br-rad-6 { border-radius: 3rem; }