@import 'var_spacing';
@import 'var_colors';

.bg-hover {
  transition : background-color $transitionTime;
}

.bg-primary, .bg-primary-hover:hover {
  background-color: $primary;
}
.bg-secondary, .bg-secondary-hover:hover {
  background-color: $secondary;
}
.bg-accent, .bg-accent-hover:hover {
  background-color: $accent;
}
.bg, .bg-def-hover:hover {
  background-color: $background;
}

.color, .color-def-hover:hover {
  color: $text;
}

.color-hover {
  transition: color $transitionTime;
}

.color-primary, .color-primary-hover:hover {
  color: $primary;
}

.color-secondary, .color-secondary-hover:hover {
  color: $secondary;
}

.color-accent, .color-accent-hover:hover {
  color: $accent;
}

.color-bg, .color-bg-hover:hover {
  color: $background;
}
