@import 'var_spacing';
@import 'var_colors';

.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-accent {
  background-color: $accent;
}
.bg {
  background-color: $background;
}

.color, .color-hover:hover {
  color: $text;
}

.color-hover {
  transition: color $transitionTime;
}

.color-primary, .color-primary-hover:hover {
  color: $primary;
}

.color-secondary, .color-secondary-hover:hover {
  color: $secondary;
}

.color-accent, .color-accent-hover:hover {
  color: $accent;
}

.color-bg, .color-bg-hover:hover {
  color: $background;
}
