.float-inline-end { float: inline-end; }
.float-inline-start { float: inline-start; }
.float-left { float: left; }
.float-none { float: none; }
.float-right { float: right; }
.float-inherit { float: inherit; }
.float-initial { float: initial; }
.float-unset { float: unset; }