.ls-xxs { letter-spacing: -0.15rem; }
.ls-xs { letter-spacing: -0.1rem; }
.ls-s { letter-spacing: -0.05rem; }
.ls-m { letter-spacing: 0rem; }
.ls-l { letter-spacing: 0.05rem; }
.ls-xl { letter-spacing: 0.1rem; }
.ls-xxl { letter-spacing: 0.15rem; }