.list-pos-inside { list-style-position: inside; }
.list-pos-outside { list-style-position: outside; }
.list-pos-inherit { list-style-position: inherit; }
.list-pos-initial { list-style-position: initial; }
.list-pos-unset { list-style-position: unset; }

.list-type-armenian { list-style-type: armenian; }
.list-type-circle { list-style-type: circle; }
.list-type-decimal { list-style-type: decimal; }
.list-type-decimal-zero { list-style-type: decimal-leading-zero; }
.list-type-disc { list-style-type: disc; }
.list-type-georgian { list-style-type: georgian; }
.list-type-lower-alpha { list-style-type: lower-alpha; }
.list-type-lower-greek { list-style-type: lower-greek; }
.list-type-lower-latin { list-style-type: lower-latin; }
.list-type-lower-roman { list-style-type: lower-roman; }
.list-type-none { list-style-type: none; }
.list-type-square { list-style-type: square; }
.list-type-upper-alpha { list-style-type: upper-alpha; }
.list-type-upper-latin { list-style-type: upper-latin; }
.list-type-upper-roman { list-style-type: upper-roman; }
.list-type-inherit { list-style-type: inherit; }
.list-type-initial { list-style-type: initial; }
.list-type-unset { list-style-type: unset; }
