.obj-fit-contain { object-fit: contain; }
.obj-fit-cover { object-fit: cover; }
.obj-fit-fill { object-fit: fill; }
.obj-fit-none { object-fit: none; }
.obj-fit-inherit { object-fit: inherit; }
.obj-fit-initial { object-fit: initial; }
.obj-fit-unset { object-fit: unset; }
.obj-fit-scale-down { object-fit: scale-down; }