.word-wrap-break { word-wrap: break-word; }
.word-wrap-normal { word-wrap: normal; }
.word-wrap-inherit { word-wrap: inherit; }
.word-wrap-initial { word-wrap: initial; }
.word-wrap-unset { word-wrap: unset; }