@import '_var_spacing';
@import '_var_breakpoints';
@import '_var_colors';
@import './_colors';
@import './_margins';
@import './_paddings';
@import './_positions';
@import './_displays';
@import './_flex';
@import './_grid';
@import './_text';
@import './_container';
@import './_grid-system';
@import './_border-radius';
@import './_fonts';
@import './_cursors';
@import './_sizes';
@import './_border';
@import './_outline';
@import './_list-style';
@import './_clear';
@import './_float';
@import './_overflow';
@import './_object_fit';
@import './_box_sizing';
@import './_word_wrap';
@import './_vertical_align';
@import './_isolation';
@import './_visibility';
@import './_background';
@import './_opacity';
@import './_z-index';
@import './_letter-spacing';

*,*::before,*::after {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}